.circular__spinner {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border-top: 6px solid #007aff;
    border-right: 6px solid #007aff;
    border-bottom: 6px solid #007aff;
    border-left: 6px solid transparent;
    animation: spinner 500ms linear infinite;
}
@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(1turn);
    }
}
