$primary-color:#11131e;
$secondary-color:#171d2d;
$teritory-color:#1f1f1f;
$font-primary:#e8eef1;
$font-wieght:(
    "light":100,
    "sem-light":200,
    "extra-light":300,
    "dark":400,
    "sem-dark":500,
    "extra-dark":600,
    "bold":800,
    "extra-bold":900
)
